# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
gh_pages*

node_modules
bin
obj
dist
cdn
src/dist
src/doc/api
src/ShogiCross.zip
src/paper.zip
dist-ssr
*.mjs
shogicross-*.tgz
*.local
package-lock.json
*/clitest/*
cli*
!cli/package.json
!cli/shogicross

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
