name: Build and Deploy

on:
  push:
    branches:
      - main
      - act

# 同時実行制御：GitHub Pagesのデプロイが重複しないように
concurrency:
  group: "pages"
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Setup NPM Modules
        run: npm install

      - name: Setup ShogiCross Module
        run: npm run setup

      - name: Build ShogiCross Module
        run: npm run building

      - name: Collect ShogiCross Module
        run: npm run collect

      - name: Minify ShogiCross Module
        run: npm run minify

      - name: Post ShogiCross Module
        run: npm run post

      - name: Deploy CDN
        run: npm run deploy:cdn

      - name: Deploy API Document
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          retry_on: error
          command: npm run deploy:doc-api

      - name: Upload Source Artifact
        uses: actions/upload-artifact@v4
        with:
          name: src
          path: src

      - name: Upload CDN Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cdn
          path: cdn

  DeployPages:
    needs: Build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v4

      - name: Download Source Artifact
        uses: actions/download-artifact@v4
        with:
          name: src
          path: src

      - name: Upload GitHub Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: src

      - name: Deploy GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  CheckVersion:
    runs-on: ubuntu-latest
    outputs:
      PROJECT_VERSION: ${{steps.PROJECT_VERSION.outputs.value}}
      IS_NEW_VERSION: ${{steps.TRY_EXISTS_TAG.outcome == 'failure'}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Get ShogiCross Version
        id: PROJECT_VERSION
        run: echo "value=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Try Exist Tag
        id: TRY_EXISTS_TAG
        continue-on-error: true
        run: |
          TAG_NAME="${{steps.PROJECT_VERSION.outputs.value}}"
          echo "Checking for tag ${TAG_NAME}..."
          git ls-remote --exit-code --tags origin "refs/tags/${TAG_NAME}"

  PublishNPM:
    needs: [CheckVersion, Build]
    if: >
      github.ref == 'refs/heads/main'
      && needs.CheckVersion.outputs.IS_NEW_VERSION == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Download Module Artifact
        uses: actions/download-artifact@v4
        with:
          name: src
          path: src

      - name: Publish NPM
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  ReleaseCDN:
    needs: [CheckVersion, Build]
    if: >
      github.ref == 'refs/heads/main'
      && needs.CheckVersion.outputs.IS_NEW_VERSION == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download CDN Artifact
        uses: actions/download-artifact@v4
        with:
          name: cdn
          path: cdn

      - name: Push CDN And Version Tag
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

          # cdnブランチが存在しない場合、孤立ブランチとして作成
          if git fetch origin cdn; then
            git switch cdn
          else
            git checkout --orphan cdn
            # 管理対処ファイルをすべて削除(除外ファイル除く)
            git rm -rf .
          fi
          mv ./cdn/* .
          git add .
          if git diff --staged --quiet; then
            echo "No changes to CDN to commit."
          else
            git commit -m "Release ${{needs.CheckVersion.outputs.PROJECT_VERSION}} [skip ci]"
            git push origin cdn --set-upstream
          fi
          git tag ${{needs.CheckVersion.outputs.PROJECT_VERSION}}
          git push origin ${{needs.CheckVersion.outputs.PROJECT_VERSION}}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{needs.CheckVersion.outputs.PROJECT_VERSION}}

  SetUpGoogleCloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Update Google Cloud
        uses: technote-space/get-diff-action@v5
        with:
          PATTERNS: |
            server/setup_gcloud.sh

      - name: Auth Google Cloud
        if: ${{env.GIT_DIFF}}
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{secrets.GCP_CREDENTIALS}}

      - name: Setup Google Cloud SDK
        if: ${{env.GIT_DIFF}}
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{vars.GCP_ID}}

      - name: Setup Server
        if: ${{env.GIT_DIFF}}
        env:
          GCP_ID: ${{vars.GCP_ID}}
          GCP_RUN_NAME: ${{vars.GCP_RUN_NAME}}
          GCP_DOCKER_REPO: ${{vars.GCP_DOCKER_REPO}}
        run: |
          chmod +x ./server/setup_gcloud.sh
          ./server/setup_gcloud.sh

  CheckDiffServer:
    runs-on: ubuntu-latest
    outputs:
      IS_DIFF: ${{env.GIT_DIFF}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Diff package.json
        uses: technote-space/get-diff-action@v5
        with:
          PATTERNS: |
            server/package.json

  CheckServerVersion:
    runs-on: ubuntu-latest
    outputs:
      SERVER_VERSION: ${{steps.SERVER_VERSION.outputs.value}}
      IS_NEW_VERSION: ${{steps.TRY_EXISTS_TAG.outcome == 'failure'}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Get Server Version
        id: SERVER_VERSION
        run: echo "value=$(node -p "require('./server/package.json').version")" >> $GITHUB_OUTPUT

      - name: Try Exist Tag
        id: TRY_EXISTS_TAG
        continue-on-error: true
        run: |
          TAG_NAME="server${{steps.SERVER_VERSION.outputs.value}}"
          echo "Checking for tag ${TAG_NAME}..."
          git ls-remote --exit-code --tags origin "refs/tags/${TAG_NAME}"

  DeployServer:
    needs: [CheckDiffServer, CheckServerVersion, SetUpGoogleCloud]
    if: >
      github.ref == 'refs/heads/main'
      && (
        needs.CheckDiffServer.outputs.IS_DIFF
        || needs.CheckServerVersion.outputs.IS_NEW_VERSION == 'true'
      )
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      REGION: asia-northeast1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{secrets.GCP_CREDENTIALS}}
      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{vars.GCP_ID}}

      - name: Setup Docker
        run: gcloud auth configure-docker ${{env.REGION}}-docker.pkg.dev --quiet

      - name: Push Docker Image
        run: |
          IMAGE_TAG=${{env.REGION}}-docker.pkg.dev/${{vars.GCP_ID}}/${{vars.GCP_DOCKER_REPO}}/${{vars.GCP_RUN_NAME}}:${{github.sha}}
          docker build -t $IMAGE_TAG ./server/
          docker push $IMAGE_TAG

      - name: Deploy Cloud Run
        run: |
          IMAGE_TAG=${{env.REGION}}-docker.pkg.dev/${{vars.GCP_ID}}/${{vars.GCP_DOCKER_REPO}}/${{vars.GCP_RUN_NAME}}:${{github.sha}}
          gcloud run deploy ${{vars.GCP_RUN_NAME}} \
            --image $IMAGE_TAG \
            --region ${{env.REGION}} \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --min-instances 0 \
            --max-instances 1 \
            --cpu 1 \
            --memory 512Mi \
            --concurrency 80

      - name: Push Version Tag
        if: needs.CheckServerVersion.outputs.IS_NEW_VERSION == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git tag server${{needs.CheckServerVersion.outputs.SERVER_VERSION}}
          git push origin server${{needs.CheckServerVersion.outputs.SERVER_VERSION}}

  CheckDiffServerCs:
    runs-on: ubuntu-latest
    outputs:
      IS_DIFF: ${{env.GIT_DIFF}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Diff Server-CS
        uses: technote-space/get-diff-action@v5
        with:
          PATTERNS: |
            server-cs/

  CheckServerVersionCs:
    runs-on: ubuntu-latest
    outputs:
      SERVER_CS_VERSION: ${{steps.SERVER_CS_VERSION.outputs.value}}
      IS_NEW_VERSION: ${{steps.TRY_EXISTS_TAG_CS.outcome == 'failure'}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install xmlstarlet
        run: sudo apt-get update && sudo apt-get install -y xmlstarlet

      - name: Get Server-CS Version
        id: SERVER_CS_VERSION
        run: echo "value=$(xmlstarlet sel -t -v "/Project/PropertyGroup/Version" ./server-cs/package.csproj)" >> $GITHUB_OUTPUT

      - name: Try Exist Tag
        id: TRY_EXISTS_TAG_CS
        continue-on-error: true
        run: |
          TAG_NAME="server-cs-${{steps.SERVER_CS_VERSION.outputs.value}}"
          echo "Checking for tag ${TAG_NAME}..."
          git ls-remote --exit-code --tags origin "refs/tags/${TAG_NAME}"

  DeployServerCs:
    needs: [SetUpGoogleCloud, CheckDiffServerCs, CheckServerVersionCs]
    if: >
      github.ref == 'refs/heads/main'
      && (
        needs.CheckDiffServerCs.outputs.IS_DIFF
        || needs.CheckServerVersionCs.outputs.IS_NEW_VERSION == 'true'
      )
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      REGION: asia-northeast1
      SERVER_NAME: server-cs
      DOCKERFILE_PATH: ./server-cs/Dockerfile
      PROJECT_PATH: ./server-cs/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{secrets.GCP_CREDENTIALS}}

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{vars.GCP_ID}}

      - name: Setup Docker
        run: gcloud auth configure-docker ${{env.REGION}}-docker.pkg.dev --quiet

      - name: Build and Push Docker Image
        run: |
          IMAGE_TAG=${{env.REGION}}-docker.pkg.dev/${{vars.GCP_ID}}/${{vars.GCP_DOCKER_REPO}}/${{env.SERVER_NAME}}:${{github.sha}}
          docker build -t $IMAGE_TAG -f ${{env.DOCKERFILE_PATH}} ${{env.PROJECT_PATH}}
          docker push $IMAGE_TAG

      - name: Deploy Cloud Run
        run: |
          IMAGE_TAG=${{env.REGION}}-docker.pkg.dev/${{vars.GCP_ID}}/${{vars.GCP_DOCKER_REPO}}/${{env.SERVER_NAME}}:${{github.sha}}
          gcloud run deploy ${{env.SERVER_NAME}} \
            --image $IMAGE_TAG \
            --region ${{env.REGION}} \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --min-instances 0 \
            --max-instances 1 \
            --cpu 1 \
            --memory 512Mi \
            --concurrency 80

      - name: Push Version Tag
        if: needs.CheckServerVersionCs.outputs.IS_NEW_VERSION == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git tag ${{env.SERVER_NAME}}-${{needs.CheckServerVersionCs.outputs.SERVER_CS_VERSION}}
          git push origin ${{env.SERVER_NAME}}-${{needs.CheckServerVersionCs.outputs.SERVER_CS_VERSION}}

  CheckDiffServerPy:
    runs-on: ubuntu-latest
    outputs:
      IS_DIFF: ${{env.GIT_DIFF}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Diff Server-PY
        uses: technote-space/get-diff-action@v5
        with:
          PATTERNS: |
            server-py/

  CheckServerVersionPy:
    runs-on: ubuntu-latest
    outputs:
      SERVER_PY_VERSION: ${{steps.SERVER_PY_VERSION.outputs.value}}
      IS_NEW_VERSION: ${{steps.TRY_EXISTS_TAG_PY.outcome == 'failure'}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install toml library
        run: pip install toml

      - name: Get Python Project Version
        id: SERVER_PY_VERSION
        run: |
          VERSION=$(python -c 'import toml; print(toml.load("server-py/pyproject.toml")["project"]["version"])')
          echo "value=$VERSION" >> $GITHUB_OUTPUT
      - name: Try Exist Tag
        id: TRY_EXISTS_TAG_PY
        continue-on-error: true
        run: |
          TAG_NAME="server-py-${{steps.SERVER_PY_VERSION.outputs.value}}"
          echo "Checking for tag ${TAG_NAME}..."
          git ls-remote --exit-code --tags origin "refs/tags/${TAG_NAME}"

  DeployServerPy:
    needs: [SetUpGoogleCloud, CheckDiffServerPy, CheckServerVersionPy]
    if: >
      github.ref == 'refs/heads/main'
      && (
        needs.CheckDiffServerPy.outputs.IS_DIFF
        || needs.CheckServerVersionPy.outputs.IS_NEW_VERSION == 'true'
      )
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      REGION: asia-northeast1
      SERVER_NAME: server-py
      DOCKERFILE_PATH: ./server-py/Dockerfile
      PROJECT_PATH: ./server-py/
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{secrets.GCP_CREDENTIALS}}

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{vars.GCP_ID}}

      - name: Setup Docker
        run: gcloud auth configure-docker ${{env.REGION}}-docker.pkg.dev --quiet

      - name: Build and Push Docker Image
        run: |
          IMAGE_TAG=${{env.REGION}}-docker.pkg.dev/${{vars.GCP_ID}}/${{vars.GCP_DOCKER_REPO}}/${{env.SERVER_NAME}}:${{github.sha}}
          docker build -t $IMAGE_TAG -f ${{env.DOCKERFILE_PATH}} ${{env.PROJECT_PATH}}
          docker push $IMAGE_TAG

      - name: Deploy Cloud Run
        run: |
          IMAGE_TAG=${{env.REGION}}-docker.pkg.dev/${{vars.GCP_ID}}/${{vars.GCP_DOCKER_REPO}}/${{env.SERVER_NAME}}:${{github.sha}}
          gcloud run deploy ${{env.SERVER_NAME}} \
            --image $IMAGE_TAG \
            --region ${{env.REGION}} \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --min-instances 0 \
            --max-instances 1 \
            --cpu 1 \
            --memory 512Mi \
            --concurrency 80

      - name: Push Version Tag
        if: needs.CheckServerVersionPy.outputs.IS_NEW_VERSION == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git tag ${{env.SERVER_NAME}}-${{needs.CheckServerVersionPy.outputs.SERVER_PY_VERSION}}
          git push origin ${{env.SERVER_NAME}}-${{needs.CheckServerVersionPy.outputs.SERVER_PY_VERSION}}
